---
---

<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Moja CDN</title>
  </head>
  <body>
    <h1>Witaj w moim CDN!</h1>
    <p>Pliki statyczne dostępne w root, np. /test.png</p>
  </body>
</html>
